.root {
    position: relative;
    background: #fbfbfb;
    width: 1280px;
    height: 720px;
    margin: auto;
    }

/* Header */
/* ------------------------------------------------------------- */
.header .navbar {
    background: url("../img/top_bg2.gif") #f0f0f0 0 100% repeat-x;
    padding-bottom: 2px;
    }
    .header .navbar .nav li {
        line-height: 30px;
        }
        .header .navbar .nav li a {
            padding-left: 20px;
            padding-right: 20px;
            }
    .header .navbar .brand {
        line-height: 30px;
        }
.header .navbar-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
    }
.header .navbar-search {
    margin-top: 10px;
    }