<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Soap4Samsung</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all">

    <script data-main="src/main" src="lib/require-jquery.js"></script>
</head>
<body>
<script type="text/html" id="template-header">
    <!--suppress HtmlUnknownTag -->
    <div class="header">
        <div id="header" class="navbar navbar-static-top">
            <div class="navbar-inner">
                <!-- Логотип -->
                <a class="brand pull-left" href="#">soap4.me</a>

                <!-- Навигация -->
                <div class="header-content pull-left"></div>

                <!-- Поиск -->
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Поиск"/>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="template-login">
    <!--suppress HtmlUnknownTag -->
    <div class="modal">
        <div class="modal-header">
            <h3>Логин</h3>
        </div>
        <div class="modal-body">
            <div id="login-error" class="alert alert-error hide">
                Неверный логин/пароль или произошла ошибка логина.
            </div>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="username">Имя пользователя:</label>
                    <div class="controls">
                        <input type="text" id="username">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Пароль</label>
                    <div class="controls">
                        <input type="password" id="password">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" id="submit" class="btn btn-primary">Войти</a>
        </div>
    </div>
</script>

<script type="text/html" id="template-show-card">
    <a href="#">
        <img src="<%= coverBig %>" class="poster" alt="" width="160" height="160"/>
        <span class="name"><%= name %></span>
    </a>
</script>
</body>
</html>