#SceneScene1 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('');
}
#SceneScene1 #svecButton_5i7ki7qfultq2{
	position : absolute;
	left : 40px;
	top : 40px;
	width : 164px;
}
#SceneScene1 #svecImage_5i7ki7wt1z4q3{
	position : absolute;
	left : 150px;
	top : 110px;
	width : 441px;
	height : 291px;
}